// SCSS Variable's

$font-primary: 'DM Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-tertiary: 'Abril Fatface', cursive;

$color-primary:#1a4576;
$color-primary--soft:#6b67d6;
$color-secondary:#11335a;

$color-gray:#69778c;
$color-danger: #EA5455;
$color-success: #28C76F;

$color-black:#000000;
$color-white:#ffffff;

$color-white-soft:#f7f8fa;